<!-- <h1>Interpolação</h1>
<p>{{ title }}</p>
<p>Nome: {{ nome }}</p>

<h1>Property Binding</h1>
<label for="">Nome</label>
<input type="text" name="" id="" [value]="nome">

<h1>Event Binding</h1>
<button (click)="trocarNome()"t>Clique aqui</button>

<h1>Two-way Databind</h1>
<label for="idNome">Nome</label>
<input type="text" name="" id=""[(ngModel)]='nome' id="idNome">

<label for="idade">Idade</label>
<input type="text" name="" id="" [(ngModel)]="idade"> -->

<!-- <app-form-reativo></app-form-reativo> -->

<h1>Agenda de contatos</h1>
<nav>
    <a routerLink="cadastro">Cadastro</a>
    <a routerLink="formReativo">Form Reativo</a>
</nav>
<div>
    <router-outlet></router-outlet>
</div>