/* You can add global styles to this file, and also import other style files */
:root{
    --magenta: rgb(226,0,116);
    --blue: #1e90ff;

}
h1{
    background-color: var(--blue);
}

input{
    width: 100%;
    padding: 10px;
}